@font-face {
  font-family: yekanBakh;
  src: url("./font/Yekan-Bakh-FaNum-04-Regular\ \(2\).woff");
}
.container {
  width: 98%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: yekanBakh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  padding: 20px 10px 0px;
  position: relative;
  background-color: rgb(255, 233, 156);
}
.mot-timer-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}
.mot-timer-wrapper .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

@keyframes fade {
  0% {
    transform: rotateX(0deg);
    opacity: 0;
    scale: 0 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    scale: 1 1;
  }
}
.active {
  animation: fade 0.3s linear forwards;
}
.mot-timer-wrapper .timer span {
  display: inline-block;
}
.mot-timer-wrapper .timer {
  color: black;
  background-color: white;
  perspective: 900px !important;
  margin-right: 1px;

  border-radius: 6px;
  font-weight: 600;
  width: 22px !important;
  text-align: center;
  display: inline-block;
}
.mot-timer-wrapper .title {
  padding-top: 5px;
  font-size: 10px;
}

header .myTimer .mot-title {
  text-align: end;
  font-size: 11px;
}
.myTimer .sec,
.day,
.hour,
.min {
  display: flex;
}

.myTimer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* banner */
.mot-banners {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-grow: 0.5;
}


.mot-banners .ExtensionBanner,
.clickBanner,
.discountBanner,
.sunBanner {
  -webkit-box-shadow: inset -4px -1px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: inset -4px -1px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: inset -4px -1px 5px 0px rgba(0, 0, 0, 0.28);
margin-right: 1px;
  border-radius: 15px;
  border: 2px solid black;
}
/* sun */
.mot-banners .sunBanner {
  background-color: #c736ea;
  color: white;
  position: relative;
}
.mot-banners .sunBanner img {
  position: absolute;
  top: -25px;
  right: -15px;
  transform: rotate(20deg);
}
.mot-banners .sunBanner p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.mot-banners .sunBanner p span {
  display: block;
}
/* discount */
.mot-banners .discountBanner {
  background-color: #b9fc44;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mot-banners .discountBanner .percent {
  background-color: white;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 900;
}
.mot-banners .discountBanner .title {
  font-size: 16px;

  font-weight: 400;
}
/* ExtensionBanner & clickBanner */
.mot-banners .ExtensionBanner {
  background-color: #6de1fc;

  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  text-align: center;
}

.mot-banners .clickBanner {
  background-color: #cdaeff;
  padding: 3px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  text-align: center;
}
.mot-banners .ExtensionBanner p,
.clickBanner p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .myTimer {
    display: flex;
    flex-direction: column;
  }
  .myTimer .mot-title {
    margin: 0px;
  }
}
